.scrolling-container {
    width: 100%; /* Set to the width you want for your container */
    overflow-x: auto; /* Enables horizontal scrolling */
    white-space: nowrap; /* Ensures list items line up horizontally */
    padding-left: 2rem;
    padding-right: 2rem;
    box-shadow: 0 4px 10px -6px gray; /* Horizontal offset, vertical offset, blur radius, spread radius, color */
    margin-top: 5rem;
  }
  
  .scrolling-list {
    padding: 0; /* Removes default padding */
    margin: 0; /* Aligns the list to the container */
    display: flex; /* Aligns list items in a row */
    align-items: center; /* Centers items vertically */
    list-style-type: none; /* Removes default list styling */
  }
  
  .scrolling-list li {
    display: inline-block; /* Displays items inline */
    padding: 10px 20px; /* Adds space around items */
    margin-right: 10px; /* Adds space between items */
    /* Additional styles such as colors and fonts can be added */
  }
  
  .scrolling-container {
    width: 100%; /* Set the width as needed */
    overflow: hidden; /* Hide anything that goes out of the container */
    position: relative;
  }
  
  .scrolling-list {
    display: flex;
    animation: scroll-left 20s linear infinite; /* Adjust timing as needed */
  }
  
  @keyframes scroll-left {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(-100%);
    }
  }
  .scrolling-container:hover .scrolling-list {
    animation-play-state: paused; /* Pauses the animation on hover */
  }
  .fixed {
    position: absolute;
    left: 0;
    z-index: 10;
    display: block;
    background: #F95192;
    padding: 0.5rem;
    border-radius: .5rem;
    color: ;
  }
   