@import url('https://fonts.googleapis.com/css2?family=Madimi+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


.dark {
    background-color: #000!important;
}
.dark .banner_card{
    background-color: #1C1C1E    ;
}

.dark h1,
.dark h2,
.dark h3,
.dark h4,
.dark h5,
.dark h6,
.dark p {
  color: #fff; /* Light grey text color */
}

.dark .text-m{
  color: #6B7280!important;
}
.dark .btn-transparent{
  color: white;
  background-color: transparent;
  border: none;
  text-underline-offset: .2rem;
  
} 
.dark .scrolling-container, .dark .modal-content{
  background-color: #1C1C1E!important;
  box-shadow: none!important;
}

.dark.connected-wallet{
  background-color: #0000001A;

}
.dark .disconnect-wallet-btn{
  color: #EF4444;
}
.dark .text-main-dark, .dark label{
  color: white!important;
}
.dark .text-main-muted{
  color: #FFFFFF80!important;

}

.dark .table, .dark td{
  background-color: #1C1C1E;
  color: white;
}


.dark .shadow-custom, .dark input, .dark textarea, .dark select{
  background-color: #1C1C1E!important;
  color: #9CA3AF!important;
  border-radius: .3rem;
  border: none !important;
}
.dark .discussion-tab textarea{
border: 1.5px #9CA3AF solid !important;
color: #9CA3AF;

}
.dark .discussion-tab textarea:focus{
  outline: none;
}


.dark .showcase_searchbar input::placeholder, .dark input::placeholder, .dark textarea::placeholder{
  color: #9CA3AF!important;
}

.dark .nav li a{
  color: white!important;
  font-weight: 300;
}
.moon, .sun{
  margin-right: .5rem;
}
 

.dark .showcase_card, .dark .DetailsCard{
  background-color: #1C1C1E;
  border-radius: .4rem;
}

.dark .DetailsCard input{
  border: 1px solid #E5E7EB33;
}

.dark .viewtoken, .dark .viewtoken .nav{
  background-color: #1C1C1E;
  border-bottom: solid #1C1C1E;

}

.dark .nav-link{
  border: none;
  font-size: .9rem;
  color: #bbb;
  font-weight: normal;
}
 

.dark .viewtoken .card-header{
  border-bottom: dashed #141414;
}

 .dark .viewtoken .active{
  background-color: #1C1C1E;
  border-bottom: none;
  color: #fff;
  font-weight: 500;
  
  
}

.dark .viewtoken .card-header{
  background-color: #1C1C1E;;
}

.dark .dropdown-item{
  color: white;
}
.dark .footer p{
  color: white!important;
}

.dark .twitter{
  color: white;
}
body {
  margin: 0;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dark .dropdown-menu{
  background-color: #333;
}

.pink{
  color: #F95192;

}


.dark .dropzone {
  background-color: #1C1C1E;
  border-radius: 5px;
  padding: 2rem;
  padding-bottom: 1.5rem;
  text-align: center;
  transition: border .3s ease-in-out;
  align-items: center;
  border: none;
  align-content: center;
}

.dropzone.active {
  border-color: #2196F3;
}

.dark .bordered{
border: 1.5px #9CA3AF solid !important;

}

.dark .btn-main:hover{
  background-color: #f951919d;
  color: rgba(255, 255, 255, 0.781);
}

li{
  list-style: none!important;
}

.fw-8{
  font-size: .7rem!important;
  font-weight: 600;
}