@import url('https://fonts.googleapis.com/css2?family=Madimi+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


.dark {
    background-color: #000!important;
}
.dark .banner_card{
    background-color: #1C1C1E    ;
}

.dark h1,
.dark h2,
.dark h3,
.dark h4,
.dark h5,
.dark h6,
.dark p {
  color: #fff; /* Light grey text color */
}

.dark .text-m{
  color: #6B7280!important;
}
.dark .btn-transparent{
  color: white;
  background-color: transparent;
  border: none;
  text-underline-offset: .2rem;
  
}
.dark .scrolling-container{
  background-color: #1C1C1E!important;
  box-shadow: none!important;
}

.dark .text-main-dark{
  color: white!important;
}
.dark .shadow-custom, .dark input{
  background-color: #1C1C1E;
  color: #9CA3AF;
  border-radius: .3rem;
  border: none;
}
.dark .showcase_searchbar input::placeholder{
  color: #9CA3AF!important;
}

.dark .nav li a{
  color: white!important;
  font-weight: 300;
}
.moon, .sun{
  margin-right: .5rem;
}
 

.dark .showcase_card{
  background-color: #1C1C1E;
  border-radius: .4rem;
}

.dark .footer p{
  color: white!important;
}

.dark .twitter{
  color: white;
}
body {
  margin: 0;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.pink{
  color: #F95192;

}

li{
  list-style: none!important;
}