.profile-box{
    width: 3rem;
    height: 3rem;
    background-color: darkorchid;
    border-radius: .5rem;
}

.discussion-tab textarea{
    height: 5rem;
    border-radius: .5rem;
    width: 100%;
    resize: none;

}

.form-control:focus {
    background-color: transparent; /* Same as default state to avoid change */
    outline: none; /* Optionally remove the focus outline */
}

.box{
    background-color: #F95192;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: .5rem;
}